body {
    background-color:#000;
    color:#fff;
}

div {
    display: inline;
}

a {
    font-size:1.05em;
    color:#000;
    text-decoration:none;
    padding:.1em;
    }

td.key {
    text-align:right;
}


td.key .abbr {display: none}

td.key div {
    white-space:nowrap;
}

td.key .frag {
    font-weight:bold;
    background-color:#f8f8f8;
    color:#000;
    height: 100%;
}

td.key .scheme {display: none}

td.val {
    border-style:dotted;
    border-width:0 0 .1em 0;
    border-color:#444;
}

input {
    background-color:#000;
    color:#fff;
    border-width:0;
    padding:0;
    margin:0;
}