body {
    background-color:#fff;
    font-family: sans-serif;    
}

table {
    background-color:#000;
    color:#fff;
}

a {
    font-size:1.05em;
    background-color:#0f0;
    color:#000;
    text-decoration:none;
    padding:.1em;
    }
td.key {
    text-align:right;    
    background-color: #000

}

td.key span {

    color:#000;
    height: 100%;
}

td.key .frag {
    font-weight:bold;
    background-color:#f8f8f8;
    color:#000;
}

td.key .abbr {
    color:#eee;
    font-size:.92em;
}

td.val {
    border-style:dotted;
    border-width:0 0 .1em 0;
    border-color:#999;
}
