body {
    background-color:#fff;
    color: #000;
    font-family: sans-serif;    
}

table {
    background-color:#000;
    color:#fff;
}

div {
    display: inline;
}

a {
    font-size:1.05em;
    background-color:#0f0;
    color:#000;
    text-decoration:none;
    padding:.1em;
    }

td.key {
    text-align:right;
}


td.key .abbr:hover {
    color:#fff;
}


td.key a {
    background-color: #000;
    color: #aaa;
}

td.key div {
    white-space:nowrap;
}

td.key .frag {
    font-weight:bold;
    background-color:#f8f8f8;
    color:#000;
    height: 100%;
}

td.key .scheme {display: none}

td.val {
    border-style:dotted;
    border-width:0 0 .1em 0;
    border-color:#999;
}

input {
    background-color:#000;
    color:#fff;
    border-width:0;
    padding:0;
    margin:0;
}