
body {margin:0; font-family: monospace; background-color:#000; color:#fff}
table {border-spacing:0;margin:0}
b,.frag {background-color:#fff;color:#000}
a {text-decoration:none}
td.message {
 background-color:#008;
 color:#fff;
 white-space: pre-wrap;
 }
a, td.path { white-space: nowrap;
    text-align:right;
    background-color:#000;
    color:#fff;}
td.index {
    text-align:right;
    background-color:#eee;
    color:#000}
