
body {margin:0; font-family: monospace; background-color:#000; color:#fff}
table {border-spacing:0;margin:0}
b,.frag {background-color:#fff;color:#000}

td.message {background-color:#008;color:#fff}

td.path {
    text-align:right;
    background-color:#000;
    color:#fff}
td.index {
    text-align:right;
    background-color:#eee;
    color:#000}
td.context {
    border-color:#ddd;
    border-width:0 0 .1em 0;
    border-style:dotted;padding:.15em}