body {font-family: sans-serif;background-color:#000;color:#fff}
pre {white-space: pre-wrap}

a {text-decoration:none;font-weight: bold;background-color:#000;color:#fff}
a[rel="prev"], a[rel="next"], .dirname, .expand {font-size:2em;padding:.2em;color:#fff;background-color:#000}
a[rel="prev"] {float: left}
a[rel="next"] {float: right}
.nextPage {font-size:8.8em}

@font-face {font-family: "icons";src: url('/css/misc/icons.eot');src: url('/css/misc/icons.woff') format('woff'); src: url('/css/misc/icons.ttf')  format('truetype');}
a.comments:before { content:"\f0e6"; font-family: icons; }
a.container:before { content:"\f187"; font-family: icons; }
a.date:before { content:"\f073"; font-family: icons; }
a.dir:before { content:"\f07c"; font-family: icons; }
a.file:before { content:"\f15b"; font-family: icons; }
a.graph:before { content:"\f1e0"; font-family: icons; }
a.group:before { content:"\f0c0"; font-family: icons;}
a.id:before { content:"\f02a"; font-family: icons; }
a.identify:before { content:"\f235"; font-family: icons; }
a.img:before { content:"\f03e"; font-family: icons; }
a.key:before { content:"\f084"; font-family: icons; }
a.link:before { content:"\f0c1"; font-family: icons; }
a.up:before { content:"\f148"; font-family: icons; }
a.cog:before { content:"\f013"; font-family: icons; }
a.gears:before { content:"\f085"; font-family: icons; }
a.code:before { content:"\f126"; font-family: icons; }
a.cubes:before { content:"\f1b3"; font-family: icons; }
a.wrench:before { content:"\f0ad"; font-family: icons; }
a.pencil:before { content:"\f040"; font-family: icons; }
a.person:before { content:"\f007"; font-family: icons; }
a.rel:before { content:"\f0a5"; font-family: icons; }
a.reply:before { content:"\f122"; font-family: icons; }
a.scissors:before { content:"\f0c4"; font-family: icons; }
a.size:before { content:"\f161"; font-family: icons; }
a.tag:before { content:"\f02b"; font-family: icons; }
a.thread:before { content:"\f03c"; font-family: icons; }
a.envelope:before { content:"\f0e0"; font-family: icons; }
a.time:before { content:"\f017"; font-family: icons; }
a.user:before { content:"\f007"; font-family: icons;}

body > form > input {float: right;border:0;font-weight:bold;background-color:#000;color:#fff}

td {vertical-align: top}
table.tab {border-spacing:0}
table.tab .content > pre {max-height:10em;overflow:scroll}
table.html {max-width: 100ex;display:inline-block}
table th a {font-size:1.5em;font-weight: normal}
table td a {font-weight:bold}
td[property="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"] a {font-weight: normal}
td[property="uri"] a:visited {color: #ccf}
td[property="http://purl.org/dc/terms/date"],td[property="http://rdfs.org/sioc/ns#has_creator"] {white-space:nowrap}
td[property="http://rdfs.org/sioc/ns#has_container"],td[property="http://www.w3.org/ns/ldp#contains"],td[property="http://www.w3.org/ns/posix/stat#mtime"],td[property="http://purl.org/dc/terms/date"],td[property="http://rdfs.org/sioc/ns#has_creator"] {border-style: solid; border-width: 0 0 .1em 0;border-color:#888}
td.val {max-width: 100%; overflow: hidden}

.container {margin:1em;display: inline-block;font-family: sans-serif}
.container > .listview {color:#fff;font-size:1.4em;float:right}
.container > .label {font-size:1.2em;font-weight:bold}
.container > .label a {color:#000;padding: .1em}
.container.main > .label {float: left}
.container.main > .label > a {font-size: 1.5em}

div.header a.title {font-size:1.2em;background-color:#fff;color:#000}
div.chatLog, div.mail {padding:.8em;margin:auto}
td.creator {white-space: nowrap;text-align:right}
div.mail {max-width:118ex;overflow:hidden}
div.mail a.to {font-size:1.27em}

img {max-width: 100%}
img.preview {max-height:14em;max-width:100%}

div:target {border-radius:.23em}
:target, :target a {background-color: #fff;color:#000}

.timegraph {position:absolute;top:0;left:0}
.timegraph > svg {overflow:visible;width:400px;height:800px}
.link {fill: none;stroke: #333;stroke-width:.18em}
rect {fill: #ccc;width:.3em;height:.3em;ry:.3em}
