body {font-family: sans-serif; background-color:#003; color:#fff;writing-mode: vertical-lr}
pre {white-space: pre-wrap}
input[name="q"] {background-color:#224;color:#fff;border-width:0}
a {text-decoration:none;font-weight: bold;background-color:#000;color:#fff}
a[rel="prev"], a[rel="next"], .dirname, .expand {font-size:3em;background-color:#003;margin:.18em}
a[rel="next"].weak, a[rel="prev"].weak {color:#227}
a.uri {font-size:.9em;color:#448;background-color:#003;font-weight:normal}
@font-face {font-family: "icons";src: url('/css/misc/icons.eot');src: url('/css/misc/icons.woff') format('woff'); src: url('/css/misc/icons.ttf')  format('truetype');}
a.comments:before { content:"\f0e6"; font-family: icons; }
a.container:before { content:"\f187"; font-family: icons; }
a.date:before { content:"\f073"; font-family: icons; }
a.dir:before { content:"\f07c"; font-family: icons; }
a.file:before { content:"\f15b"; font-family: icons; }
a.graph:before { content:"\f1e0"; font-family: icons; }
a.group:before { content:"\f0c0"; font-family: icons;}
a.id:before { content:"\f02a"; font-family: icons; }
a.identify:before { content:"\f235"; font-family: icons; }
a.img:before { content:"\f03e"; font-family: icons; }
a.key:before { content:"\f084"; font-family: icons; }
a.link:before { content:"\f0c1"; font-family: icons; }
a.up:before { content:"\f148"; font-family: icons; }
a.cog:before { content:"\f013"; font-family: icons; }
a.gears:before { content:"\f085"; font-family: icons; }
a.code:before { content:"\f126"; font-family: icons; }
a.cubes:before { content:"\f1b3"; font-family: icons; }
a.wrench:before { content:"\f0ad"; font-family: icons; }
a.pencil:before { content:"\f040"; font-family: icons; }
a.person:before { content:"\f007"; font-family: icons; }
a.rel:before { content:"\f0a5"; font-family: icons; }
a.reply:before { content:"\f122"; font-family: icons; }
a.scissors:before { content:"\f0c4"; font-family: icons; }
a.size:before { content:"\f161"; font-family: icons; }
a.tag:before { content:"\f02b"; font-family: icons; }
a.thread:before { content:"\f03c"; font-family: icons; }
a.envelope:before { content:"\f0e0"; font-family: icons; }
a.time:before { content:"\f017"; font-family: icons; }
a.user:before { content:"\f007"; font-family: icons;}
h3.title {background-color:#fff;color:#000;margin:0}
table {max-width: 80ex;display:inline-block}
th {background-color:#224}
th a {font-size:1.5em;font-weight: normal;background-color:#224}
td, th {vertical-align:top;border-radius:.125em}
td[property="http://purl.org/dc/terms/date"] {white-space:nowrap}
td[property="http://www.w3.org/2000/01/rdf-schema#label"] {text-align: right}
td[property="http://www.w3.org/2000/01/rdf-schema#label"] a {white-space: nowrap}
table.tab .content > div.sourcecode > pre {max-height:12em;overflow:scroll}
table, div.mail {writing-mode: horizontal-tb}
div.mail {margin:.2em;display:inline-block; max-width:80ex; background-color: #000;color:#fff}
div.mail a.title {background-color: #fff;color:#000}
div.mail > a[class] {font-size:1.1em}
img {max-width: 100%}
img.preview {max-height:14em;max-width:100%}
:target, div.mail:target, th:target a, .selectable:target a, .selectable:target td.selected {background-color:#fff;color:#000}
.timegraph {position:absolute;top:0;left:0}
.timegraph > svg {overflow:visible;width:400px;height:800px}
.link {fill: none;stroke: #333;stroke-width:.18em}
rect {fill: #ccc;width:.3em;height:.3em;ry:.3em}
