body {font-family: sans-serif;background-color:#000;color:#fff}
a {text-decoration:none; font-weight: bold; border-radius:.2em;background-color:#000;color:#fff}
pre {white-space: pre-wrap;margin:0;min-width:64ex;max-width:127ex;overflow:hidden}
a[rel="prev"], a[rel="next"], a[rel="up"], a[rel="down"] {font-size:3em;color:#eee;background-color:#000}
a[rel="prev"], a[rel="up"], a[rel="down"] {float: left}
a[rel="next"] {float: right}
a[rel="up"], a[rel="down"] {margin-left:1em}
a.page, .uri {font-weight: normal}
.this {font-size:1.2em}
.gray {font-weight: normal; color:#bbb;}
a[name] {color:#000;padding:.08em}
img {max-width: 100%}
img.preview {max-height:14em}
img.logo {max-height:3.7em}
div.links {padding:.13em;max-width:36em;overflow: hidden;float:right;border-radius:.22em;margin:.1em}
div, td {vertical-align:top}
table {border-spacing:0}
td {padding:.1em}
th {text-align: left}
th a {font-size:.9em}
th a:before {font-size:1.8em;font-weight: normal}
td[property="http://schema.org/logo"] {text-align: center}
td[property="http://purl.org/dc/terms/date"] {white-space: nowrap}
td[property="http://rdfs.org/sioc/ns#has_creator"] {text-align:right}
:target, :target a, div.sourcecode {background-color:#fff;color:#000}
@font-face {font-family: "icons";src: url('/css/misc/icons.eot');src: url('/css/misc/icons.woff') format('woff'); src: url('/css/misc/icons.ttf')  format('truetype');}
a.link {font-size:.9em}
a.link:before { content:"\f08e"; font-family: icons; }
a.comment:before { content:"\f0e5"; font-family: icons; }
a.comments:before { content:"\f086"; font-family: icons; }
a.container:before { content:"\f187"; font-family: icons; }
a.date:before { content:"\f073"; font-family: icons; }
a.dir:before { content:"\f07c"; font-family: icons; }
a.file:before { content:"\f15b"; font-family: icons; }
a.archive:before { content:"\f019"; font-family: icons; }
a.graph:before { content:"\f1e0"; font-family: icons; }
a.group:before { content:"\f0c0"; font-family: icons;}
a.id:before { content:"\f02a"; font-family: icons; }
a.identify:before { content:"\f235"; font-family: icons; }
a.img:before { content:"\f03e"; font-family: icons; }
a.key:before { content:"\f084"; font-family: icons; }
a.cog:before { content:"\f013"; font-family: icons; }
a.speaker:before { content:"\f028"; font-family: icons; }
a.gears:before { content:"\f085"; font-family: icons; }
a.hands:before { content:"\f2b5"; font-family: icons; }
a.code:before { content:"\f126"; font-family: icons; }
a.cubes:before { content:"\f1b3"; font-family: icons; }
a.wrench:before { content:"\f0ad"; font-family: icons; }
a.location:before { content:"\f041"; font-family: icons; }
a.pencil:before { content:"\f040"; font-family: icons; }
a.exchange:before { content:"\f0ec"; font-family: icons; }
a.person:before { content:"\f007"; font-family: icons; }
a.rel:before { content:"\f0a5"; font-family: icons; }
a.reply:before { content:"\f122"; font-family: icons; }
a.scissors:before { content:"\f0c4"; font-family: icons; }
a.size:before { content:"\f161"; font-family: icons; }
a.tag:before { content:"\f02b"; font-family: icons; }
a.thread:before { content:"\f03c"; font-family: icons; }
a.envelope:before { content:"\f0e0"; font-family: icons; }
a.newspaper:before { content:"\f1ea"; font-family: icons; }
a.openenvelope:before { content:"\f2b6"; font-family: icons; }
a.time:before { content:"\f017"; font-family: icons; }
a.tweet:before { content:"\f099"; font-family: icons; }
a.user:before { content:"\f007"; font-family: icons;}

