.chatLog {padding: 0 .3em .3em .3em; border-radius: .3em; display:inline-block;vertical-align:top;background-color: #000;color: #fff}
.chat a {text-decoration: none}
.chat img {max-width: 100%}
.chat .creator {display:inline-block; min-width: 8em; text-align: right}
.chat .creator a {color: #ccc}
.chat .body a {background-color: #e2e2e2; color: #000; border-radius: .18em; padding: 0 .1em 0 .1em}
