.chatLog {
    padding-top: .3em;
    border-style:dotted;border-color:white;border-width: .1em 0 0 0;
    white-space: normal;
    margin:auto;
    max-width:140ex;
    vertical-align:top;
    background-color: #000;
    color: #fff;
}
.chatLog:target {background-color: #fff;color: #000}
.chatLog a {text-decoration: none}
.chatLog img {max-width: 100%}
.chatLog .creator {display:inline-block; min-width: 8em; text-align: right}
.chatLog .body a {background-color: #e2e2e2; color: #000; border-radius: .18em; padding: 0 .1em 0 .1em}
.chatLog .ublog:target {background-color:#fff;color:#000}