body{ font-family:sans-serif;}

.abbr{display:none}
a {text-decoration: none}

.dir {
    max-width:64em;
    overflow:hidden;
    float: left;
    border-radius:0 1em 1em 1em;
    padding:.3em;
    margin:.3em;
}

.dir a {
    float:left;
    font-weight: bold;
    font-size:1.3em;
    background-color:#000;
    color:#fff;
}

.dir a.member {
    font-size: 1em;
    background-color:#fff;
    color:#000;
}

.dir a:hover {
    background-color:#000;
    color:#fff }

.File {
    display: inline-block;
    background-color: #fff;
    color: #000;
    margin: .15em;
    max-width: 88ex;
}

.File > a.view {color: #000}
