
.basicC {
    font-family: sans-serif;
    display: inline-block;
    border-radius:0 1em .8em .6em;
    padding: .3em;
    margin: .3em;
    max-width: 100%;
}

.basicC a {
    text-decoration: none;
    padding: 0 .48em 0 .48em;
}

.basicC a.uri {
    font-size: 1.3em;
    background-color: #333;
    color: #fff;
}

.basicC a.sort {
    font-size: 1.2em;
    color: #777;
    background-color: #fff;
    border-radius: .1em;
}

.basicC a.sort:hover { color: #000; }

.basicC a.member {
    white-space: nowrap;
    background-color: #fff;
    color: #000;
}
