tr.dark .container a {color:#fff;background-color:#000}
.container {text-align: left; vertical-align: top; display: inline-block; font-family: sans-serif}
.container a {text-decoration: none}
.container .size {font-family: monospace; white-space: pre-wrap; color: #999}
.container a.member:visited .size {color: #fff}
.container a.member {background-color: #fff;color: #000}
.container a.member:hover {background-color: #f70;color: #fff}

