svg {
    position: fixed;
}

.link {
  fill: none;
  stroke: #eee;
  stroke-width: .1em;
}

.node circle {
  fill: #ccc;
}

text {
    fill: #fff;
    font: .8em sans-serif;
    pointer-events: none;
}

