svg {
    position: fixed;
    top: 0;
    left: 0;
}

table.html {
    clear: both;
    float:right;
}

.link {
  fill: none;
  stroke: #ddd;
  stroke-width: .1em;
}

.node circle {
  fill: #777;
}

text {
    fill: #fff;
    font: .8em sans-serif;
    pointer-events: none;
}

