body {font-family: sans-serif}
.resource {
    background-color:#eee;
    border-style:dotted;
    border-width:.2em;
    border-color:#aaa;
    border-radius:1em;
    padding:0 .5em .5em .5em;
    margin: .5em;
}

.resource > a.uri {
    font-size:1.1em;
    background-color:#fff;
    color: #000;
}

.property {
    background-color:#fff;
    border-radius:.5em;
    padding:.2em;
}

.property > a.uri {
    width: 30%;
    font-weight:bold;
    background-color: #fff;
    color: #0cf;
}

.property > .edit {
    border-radius:.5em;
    padding:.1em;
    background-color: #4f4;
    color: #fff;
}


.tripleURI {
    background-color: #ccc;
    color: #222;
}

a {text-decoration: none}



.addField {
    background-color: #8d8;
    color: #fff;
    padding:.1em;
    border-radius: .5em .2em .2em .5em;
    margin-left: .8em;
}

pre {white-space: pre-wrap}
