.resource, .property {
    padding: 0;
    border-style:dotted;
    border-width:.1em;
    border-color:#aaa;
}

.resource > a.uri {
    color:#000;
    background-color:#fff;
    border-radius:0 0 .4em 0;
    padding: .04em;
}

.property > a.uri {
    float: left;
}

.property > .edit {
    float: right;
    background-color: #4f4;
    color: #8ff;
    border-radius:.62em;
}

pre {white-space: pre-wrap}
