.sidebar {position:fixed;z-index:8;top:33px;left:0}
.facet {cursor:pointer;background-color:#000;color:#f0a;max-height:18em;max-width:21em;overflow:scroll;white-space:nowrap}
.facet .name {background-color:black;color:white;margin-left:.22em}
.facet .count {float:left; text-align:right; min-width:2.4ex; font-weight: bold}
