.selector {
    border-radius: 0 0 .5em .5em;
    background-color: #eee;
    display: none;
    font-size:1.3em;
    padding: .2em;
    margin: .16em;
}

.selector:hover {
    background-color:#fff;
}

.sidebar {
    display: inline-block;
    float: left;
    border-radius:0 1em 1em 1em;
    border: 1em solid red;
}
.sidebar div {display:block}

.facet {
    cursor:pointer;
    width:16em;
    max-height:25em;
    overflow:scroll;
    white-space:nowrap;
    background-color:#fff;
    color:#000;
}
.facet .predicate {
    font-size: 1.3em;
    background-color:#000;
    color:#fff;
}
.facet .name {display:block}
.facet .name:hover {background-color: #2ef}
.facet .count {
    float:left;
    text-align:right;
    min-width:2.4ex;
    font-weight: bold;
    margin-right:.3em;
}

.a {
    background-color:#8f3;
    color:#000;
}
