.facet {
    clear: both;
    cursor: pointer;
    white-space:nowrap;
    max-width:9em;
    max-height:15em;
    overflow: hidden;
    background-color:#fff;color:#000;
}
.facet .count {
    float:left;
    text-align:right;
    min-width:2.4ex;
    font-weight: bold;
    margin-right:.1em;
}
