body {
    text-align:right;
}

table.html {
    text-align:left;
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.link {
    fill: none;
    stroke: #333;
    stroke-width: .1em;
}

.node circle {
    fill: #bbb;
}

.node rect {
    fill: #fff;
}

text {
    fill: #000;
    font: .88em sans-serif;
    pointer-events: none;
}

tr[property="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"],tr[property="http://rdfs.org/sioc/ns#has_parent"],tr[property="http://rdfs.org/sioc/ns#reply_of"], tr[property="http://purl.org/dc/terms/hasFormat"] {display:none}
