svg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

table.html {
    clear: both;
    float:right;
}

.link {
    fill: none;
    stroke: #ddd;
    stroke-width: .1em;
}

.node circle {
    fill: #bbb;
}

.node rect {
    fill: #000;
}

text {
    fill: #fff;
    font: .8em sans-serif;
    pointer-events: none;
}
