body {
    background-color:#eee;
    color: #000;
}

a {
    text-decoration: none;
}

img {
    float: left;
    margin-right: .25em;
}

a.forum {
    float: left;
    border: .1em dotted #888;
    text-decoration: none;
}

.thread {
    max-width: 40em;
    margin: auto;
    padding-top:.5em;
    clear:both;
    border-width: 0 0 .1em 0;
    border-style: dotted;
    border-color:#000;
}

.thread .title {
    font-size: 1.2em;
}

.thread .time {
    font-size: .95em;
    float: right;
    color: #666;
}

.post {
    background-color:#fff;
    min-width: 40ex;
    max-width: 80ex;
    margin: .3em;
    padding-right: .25em;
    float: left;
}

.post .date {
    font-size: .9em;
    float: right;
    color: #aaa;
    margin-right: -.2em;
}

a.makepost {
    color: #fff;
    background-color:#4f4;
    padding: .2em;
    border-radius: .5em;
}
