h1 {float:right}
body {background-color: #000;color:#fff}
div {margin-bottom:.5em}
a { padding:.3em;margin:.1em;
    background-color: #fff;
    color:#000;
    border-radius:.3em;
    text-decoration:none;
}
a:hover {background-color: #0f0}