table.histogram {
    width:100%;
    max-width:100%;
    top:0;
    border-spacing:0;
    position:fixed;
}

table.histogram tr {
    height:5em;
}

table.histogram td {
    border-width: 0;
}

h3 {
    margin:0;
    padding:0;
}

.histBin {
    margin:1em;
    padding: 0 .8em .8em .8em;
    border-style:dotted;
    border-width:.1em;
    border-color:#aaa;
    border-radius:0 .8em .8em .8em;
}

.histBin table.html {float: none}