a {text-decoration: none}
body > a.id {
    font-size: 1.8em;
    color: #222;
    background-color: #fff}
pre {white-space: pre-wrap}
img {max-width: 100%}
table.html {display: inline-block;margin-bottom: .38em}
td.uri a {
    background-color:#fff;
    color: #000;
    border-width: 0 0 .1em 0;
    border-style: dashed;
    padding-left: 10%;
    border-color: #ccc;
}
td.key {text-align:right}
td.key > a {
    font-weight: bold;
    background-color: #000;
    color: #fff;
}
td.val > a {
    font-weight: normal;
    color: #fff;
    background-color: #122 ;
    border-radius: .16em;
}
td.val > a:hover {
    background-color: #3f3;
    color: #000;
}
tr[property="http://purl.org/dc/terms/title"],tr[property="http://www.w3.org/2000/01/rdf-schema#label"] {display:none}

