a {text-decoration: none}
pre {white-space: pre-wrap}
img {max-width: 100%}
table.html {display: inline-block;margin-bottom: .38em}
td.key {text-align:right}
td.key > a {
    font-weight: bold;
    background-color: #000;
    color: #fff;
}
td.val > a {
    padding: .1em;
    font-weight: normal;
    color: #fff;
    background-color: #071D1F ;
    border-radius: .16em;
}
tr[property="http://purl.org/dc/terms/title"],tr[property="http://www.w3.org/2000/01/rdf-schema#label"] {display:none}

