.rdf {float:right;width:2.3em;height:2.645em;margin:0 .3em .5em .3em}
table.tab, table.html {display: inline-block}
td.key {text-align:right}
td.key a, a.uri {font-weight: bold;text-decoration:none;color:#444;background-color:#fff}
@font-face {
    font-family: "icons";
    src: url('/css/misc/icons.eot');
    src: url('/css/misc/icons.woff') format('woff');
    src: url('/css/misc/icons.ttf')  format('truetype');
}
a.group:before { content:"\f0c0"; font-family: icons;}
a.container:before { content:"\f187"; font-family: icons; }
a.graph:before { content:"\f1e0"; font-family: icons; }
a.size:before { content:"\f161"; font-family: icons; }
a.id:before { content:"\f02a"; font-family: icons; }
a.date:before { content:"\f073"; font-family: icons; }
a.time:before { content:"\f017"; font-family: icons; }
a.person:before { content:"\f007"; font-family: icons; }
a.dir:before { content:"\f07c"; font-family: icons; }
a.scissors:before { content:"\f0c4"; font-family: icons; }
a.pencil:before { content:"\f040"; font-family: icons; }
a.file:before { content:"\f15b"; font-family: icons; }
a.warp:before { content:"\f135"; font-family: icons; }
a.img:before { content:"\f03e"; font-family: icons; }
a.thread:before { content:"\f03c"; font-family: icons; }
a.title:before { content:"\f035"; font-family: icons; }
a.rel:before { content:"\f0a5"; font-family: icons; }
a.identify {color: #ccc}
a.identify:before { content:"\f235"; font-family: icons; }
a.user:before { content:"\f007"; font-family: icons;}
a.identify, a.user {font-size:1.4em;float: left;margin:0 .2em .2em 0; text-decoration:none}
body > a.user {color:#aeff28}
