.rdf {float:right;width:2.3em;height:2.645em;margin:0 .3em .5em .3em}
@font-face {
    font-family: "icons";
    src: url('/css/misc/icons.eot');
    src: url('/css/misc/icons.woff') format('woff');
    src: url('/css/misc/icons.ttf')  format('truetype');
}
a.group:before { content:"\f0c0"; font-family: icons;}
a.container:before { content:"\f187"; font-family: icons; }
a.graph:before { content:"\f1e0"; font-family: icons; }
a.size:before { content:"\f161"; font-family: icons; }
a.id:before { content:"\f02a"; font-family: icons; }
a.date:before { content:"\f073"; font-family: icons; }
a.time:before { content:"\f017"; font-family: icons; }
a.person:before { content:"\f007"; font-family: icons; }
a.dir:before { content:"\f07c"; font-family: icons; }
a.scissors:before { content:"\f0c4"; font-family: icons; }
a.file:before { content:"\f15b"; font-family: icons; }
a.warp:before { content:"\f135"; font-family: icons; }
a.img:before { content:"\f03e"; font-family: icons; }
a.thread:before { content:"\f03c"; font-family: icons; }
a.rel:before { content:"\f0a5"; font-family: icons; }
a.identify {color: #ccc;margin-left:.12em}
a.identify:before { content:"\f235"; font-family: icons; }
a.user:before { content:"\f007"; font-family: icons; }
body > a.user {color:#aeff28}
