div {
    display:block;
    margin:.36em;
}
a {
    background-color: #000;
    text-decoration:none;
    border-style:solid;
    border-width:.1em;
    border-color:#eee;
    color:#fff;
    font-size:1.3em;
    border-radius:0 .6em .6em 0;
    padding:.1em;
}
a:hover {background-color: #f06}
b,input {font-size:1.25em}
form,input {display:inline}
input {border-radius:.6em;margin-left:.25em}