body,iframe {
    font-family:sans-serif;
    background-color:#000;
    color:#fff;
}

.ls .abbr{display:none}

.ls td {text-align:right;white-space:nowrap}
.ls td.label a {background-color:#0df;color:#000;font-weight:bold;font-size:1.2em}

.ls td[property='uri'] a {background-color:#ff3;color:#000}
.ls td[property='uri'] .frag {background-color:white;color:#000;font-weight:bold;}

.ls tr:nth-child(odd)  td:nth-child(odd) {background: #000}
.ls tr:nth-child(odd)  td:nth-child(even){background: #111}
.ls tr:nth-child(even) td:nth-child(odd) {background: #222}
.ls tr:nth-child(even) td:nth-child(even){background: #333}

.dir {max-width:40em;float:left;border-radius:0 1em 1em 1em;padding:.3em;margin:.3em}
.dir a:first-child {font-weight: bold;font-size:2em}
.dir a {background-color:#000;color:white;}
