@font-face {
    font-family: "icons";
    src: url('/css/misc/icons.eot');
    src: url('/css/misc/icons.woff') format('woff');
    src: url('/css/misc/icons.ttf')  format('truetype');
}

body {margin: 0;padding:0}

table.ls {
    font-family: sans-serif;
    padding: 0;
    border-spacing: 0;
    float:left;
}

table.ls th {padding-right: .2em}
table.ls th, table.ls td { text-align: left; }
table.ls th[property='uri'], table.ls td[property='uri'], table.ls td[property='http://www.w3.org/ns/posix/stat#size'] {
    max-width: 18em;
    text-align: right;
}
table.ls td[property='uri'] a {background-color:#000; color: #fff}
table.ls td[property='http://www.w3.org/ns/posix/stat#mtime'],table.ls td[property='uri'] {white-space:nowrap}
table.ls td {
    max-width: 48em;
    overflow: hidden;
    vertical-align: bottom;
}
table.ls td[property='http://www.w3.org/ns/ldp#contains'] {font-size:.89em}
table.ls a { color: #102F66; font-size: 1.2em; }

table.ls th.this {background-color: #aaa; padding-left: .2em}
table.ls td.this {text-align: left; border-style: solid; border-width: 0 .1em .1em .1em; border-color: #ddd}
table.ls td.this[property='uri'] {color: #fff;background-color: #000;}
th { font-weight: normal }
table.ls th.this a {color: #fff}
table.ls th.that a {color: #888; font-size: .88em}
table.ls th:hover {background-color: #3f3}
table.ls tr:hover { background-color: #0f0 }

table.ls a.resource img {max-width: 1.4em;}

.warp {
    color: #FF3C1F;
    font-size: 3em;
    padding: .2em;
    float:left;
}

table.ls a.dir {
    color: #000;
    font-size: 1.3em;}

table.ls a.file {
    color: #000;
    font-size: 1.3em;}

a {text-decoration: none}

