body {
    background-color:#000;
    color:#fff;
    text-align:right;
}

pre.mail {
    max-width: 115ex;
    margin: 0;
}
a {text-decoration: none}
pre.mail .q {display: block}
pre.mail .q[depth="1"] {background-color:#fff;color:#000}
pre.mail .q[depth="2"] {background-color:#0F1A51;color:#fff}
pre.mail .q[depth="3"] {background-color:#033684;color:#fff}
pre.mail .q[depth="4"] {background-color:#3F0F86;color:#fff}
pre.mail .q[depth="5"] {background-color:#000;color:#9ff}
pre.mail .q[depth="6"] {background-color:#9ff;color:#000}
pre.mail .q[depth="7"] {background-color:#8ff;color:#000}
pre.mail .q[depth="8"] {background-color:#fff500;color:#000}
pre.mail .q[depth="9"] {background-color:#ffcb00;color:#000}
pre.mail .q[depth="10"] {background-color:#dff;color:#000}
pre.mail .q[depth="11"] {background-color:#eee;color:#000}
pre.mail .q[depth="12"] {background-color:#fff;color:#000}
pre.mail .q[depth="13"] {background-color:#f00;color:#fff}
pre.mail .q[depth="14"] {background-color:#f06;color:#fff}
pre.mail .q[depth="15"] {background-color:#fffc00;color:#000}

body td.key a, td.uri a {background-color: #000; color: #fff}
body td.uri a {font-weight: bold}

body td.val a.id{
    color: #fff;
    background-color: #000;
    border-style: dashed;
    border-color: #aaa;
    border-width: 0 0 .1em 0;
}

body td.val a:hover {
    background-color: #ccc;
}

body td.val a[rel=untyped] {
    color: #2f2;
    background-color:#000;
    border: .1em dotted #0f0;
    border-radius: .16em;
    font-size: 1.18em;
    font-weight: bold;
}

body td.val a[rel=untyped]:hover, body td.val a[rel=untyped]:visited {
    background-color: #0f0;
    color: #000;
    border-color: #0f0;}

body td.val .q a[rel=untyped]:hover, body td.val .q a[rel=untyped]:visited {
    background-color: #fff;
    color: #000;
    border-color: #fff;}

body td.val .q a[rel=untyped] {
    color: #fff;
    background-color:#000;
    border-color: #fff;
}

tr[property="http://www.w3.org/ns/posix/stat#size"], tr[property="http://purl.org/dc/terms/identifier"], tr[property="http://purl.org/dc/terms/source"] {display:none}

.title {
    float: right;
    font-size: 1.7em;
    font-weight: bold;
    margin-right: .1em;
}

.noquote {
    float: right;
    border-radius: .1em;
    font-size: 2em;
    color: #ccc;
    border: .08em solid #ccc;
    background-color: #000;
}

body table.html {
    text-align:left;
    float: right;
    clear:both;
    border-width: 0;
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.link {
    fill: none;
    stroke: #777;
    stroke-width: .1em;
}

.node circle {
    fill: #bbb;
}

.node rect {
    fill: #fff;
}

text {
    fill: #000;
    font: .88em sans-serif;
    pointer-events: none;
}

tr[property="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"],tr[property="http://rdfs.org/sioc/ns#has_parent"],tr[property="http://rdfs.org/sioc/ns#reply_of"], tr[property="http://purl.org/dc/terms/hasFormat"] {display:none}
