
a {
    font-family:sans-serif;    
    text-decoration:none}

#down {
    background-color:#ccc;
    color:#fff;
    margin-left:1.61em;
    font-size:2em;
    padding:  0 1.4em 0 1.4em}
#down:hover {background-color:#aaf}

.to {font-size:0.8em;
     color:black;
     padding:0;
     margin:0}

.g {float:left;
    margin-left:0.2em;
    background-color:#eee;
    color:#050}

td.group {vertical-align:top;
	  text-align:left}
td.subject {max-width:78em;vertical-align:top;text-align:right}

.thread {background-color:#000;color:#fff;border-width:0 0 0.2em 0;border-style:solid;margin:0;padding:0}
.thread:hover {background-color:#f04}
.thread:visited {background-color:#05f;color:#4ff}

.sender {font-size:.8em;color:#111;padding:0;margin:0 -.1em 0 -.23em}
.sender:hover {color:#eef}
.sender:visited {color:white}
