body {padding-bottom:127px;background-color:#000;color:#fff}
.messages {white-space: nowrap;}

.mail {
    white-space: normal;
    display: inline-block;
    vertical-align: top;
    padding: .3em;
    margin: .4em;
    background-color:#000;
    color:#fff;
    max-width:111ex;
}
.mail[name] {background-color:#000; color:#fff}
.mail:target {background-color: #fff;color:#000}

.mail a {
    text-decoration:none;
    font-weight: bold;
    padding: 0 .1em 0 .1em;
}

.mail .header {max-width:76ex}
.mail .header a {white-space: nowrap}
.mail a.attached {color:#000;background-color:#eee}
.mail a.to {background-color:#000;color:#fff;}
.mail a.title {background-color:#000;color:#eee;font-weight: normal; font-size:1.1em}
.mail:target a.title, .mail a.date {background-color: #fff;color:#000}
.mail a.discussion {float:right;font-size:2em;color:#000}
.mail a[name] {font-size:1.1em;padding:0 .15em 0 .15em;}
.mail .body a {
    background-color:#fff;
    color:#000;
    border-color:#aaa;
    border-width:0 0 .1em 0;
    border-style:dotted;
    border-radius:.16em;
}

.noquote {position:fixed;bottom:0;left:0;font-size: 2em;padding: 0 .4em 0 .4em;border-radius: .15em;background-color:#fff;color:#999;text-decoration:none}
.noquote:hover {background-color: #ddd}
img {max-width: 100%}

svg {position: fixed;bottom: 0;left: 0;z-index:2;overflow:visible}
.link {fill: none;stroke-width: .2em; stroke-dasharray: 1,1;stroke: #fff}
rect {fill: #f8f8f8}
text {font: .88em sans-serif;pointer-events: none}
div.day {transform: rotate(90deg);position:fixed;bottom:2.8em;z-index:2;font-size:.88em;color:#fff;white-space:nowrap}