body {
    background-color:#000;
    color:#fff;
}

pre.mail {
    max-width: 115ex;
    margin: 0;
}
a {text-decoration: none}
pre.mail .q {display: block}
pre.mail .q[depth="1"] {background-color:#fff;color:#000}
pre.mail .q[depth="2"] {background-color:#0F1A51;color:#fff}
pre.mail .q[depth="3"] {background-color:#033684;color:#fff}
pre.mail .q[depth="4"] {background-color:#3F0F86;color:#fff}
pre.mail .q[depth="5"] {background-color:#000;color:#9ff}
pre.mail .q[depth="6"] {background-color:#9ff;color:#000}
pre.mail .q[depth="7"] {background-color:#8ff;color:#000}
pre.mail .q[depth="8"] {background-color:#fff500;color:#000}
pre.mail .q[depth="9"] {background-color:#ffcb00;color:#000}
pre.mail .q[depth="10"] {background-color:#dff;color:#000}
pre.mail .q[depth="11"] {background-color:#eee;color:#000}
pre.mail .q[depth="12"] {background-color:#fff;color:#000}
pre.mail .q[depth="13"] {background-color:#f00;color:#fff}
pre.mail .q[depth="14"] {background-color:#f06;color:#fff}
pre.mail .q[depth="15"] {background-color:#fffc00;color:#000}

td.key a, td.uri a {background-color: #000; color: #eee}

td.val a{
    color: #fff;
    background-color: #000;
    border-style: dashed;
    border-color: #aaa;
    border-width: 0 0 .1em 0;
}

td.val a:hover {
    background-color: #ccc;
}

td.val a[rel=untyped] {
    color: #0f0;
    background-color:#000;
    border: .1em dotted #0f0;
    border-radius: .16em;
    font-size: 1.18em;
    font-weight: bold;
}

td.val .q a[rel=untyped] {
    color: #fff;
    background-color:#000;
    border-color: #fff;
}

tr[property="http://purl.org/dc/terms/identifier"], tr[property="http://purl.org/dc/terms/source"] {display:none}

.noquote {
    position: fixed;
    top: .2em;
    right: .2em;
    z-index: 2;
    border-radius: .1em;
    font-size: 2.3em;
    color: #ccc;
    border: .1em dotted #ccc;
    background-color: #000;
}
