.msgs, h1, .mail {margin: auto}
h1 {text-align:center}
.mail {
    position:relative;
    white-space: normal;
    vertical-align: top;
    padding-left: .3em;
    background-color:#000;
    color:#fff;
    max-width:111ex;
}
.mail[name] {background-color:#000; color:#fff}
.mail:target {background-color: #fff;color:#000}
.mail:target a {color:#000;background-color:#fff}

.mail a {
    text-decoration:none;
    font-weight: bold;
    padding: 0 .1em 0 .1em;
}

.mail a.attached {color:#000;background-color:#eee}
.mail a.to {background-color:#000;color:#fff;}
.mail a.title {color:#000;background-color:#fff;font-weight: normal; font-size:1.1em}
.mail a.discussion {float:right;font-size:2em;color:#fff;background-color:#000}
.mail a[name] {font-size:1.1em;padding:0 .15em 0 .15em;}
.mail .body a {
    background-color:#fff;
    color:#000;
    border-radius:.16em;
}
.mail span.sep {font-size:1.2em;margin: 0 .06em 0 .06em}
img {max-width: 100%}
#timegraph {
    background-color: #fff;
    width:8em;
    height:48em;
    margin-top:.5em;
}
#timegraph > svg {z-index:3;overflow:visible;width:100%;height:100%}
.link {fill: none;stroke: #333;stroke-width:.1em}
rect {fill: #ccc;width:.3em;height:.3em;ry:.3em}
text {font: sans-serif;pointer-events: none}
div.day {
     position:absolute;
     font-size:.88em;
     white-space:nowrap;
}
.chatLog {
    position:relative;
    margin: auto;
    padding:.3em;
    max-width:144ex;
    border-radius: .16em .2em .2em .16em;
    vertical-align:top;
}
.chatLog:target {background-color: #fff;color: #000}
.chatLog .ublog {position:relative;background-color:#000;color:#fff}
.chatLog .ublog:target, .chatLog .body a {background-color:#fff;color:#000}
.chatLog img {max-width: 100%}
.chatLog .date {color: #888;font-size: .88em}
.chatLog .creator {display:inline-block; min-width: 8em; text-align: right}
.chatLog .body {display: inline-block}

