.msgs, h1, .mail {margin: auto}
.mail {
    position:relative;
    white-space: normal;
    vertical-align: top;
    margin:auto;
    padding:.8em;
}
.mail[name] {background-color:#000; color:#fff}
.mail .header {float: right}
.mail a.file {padding:.2em;border-radius:.2em;margin:.1em}
.mail a.to {background-color:#000;color:#fff;}
.mail a.discussion {float:right;font-size:2em;color:#fff;background-color:#000}
.mail a[name] {font-size:1.1em;padding:0 .15em 0 .15em;}
.mail .body {padding:.4em}
.mail .body a {
    font-weight: bold;
    background-color:#fff;
    color:#000;
}
.mail span.sep {font-size:1.2em;margin: 0 .06em 0 .06em}
img {max-width: 100%}
#timegraph {
    width:8em;
    height:48em;
    margin-top:.5em;
}
#timegraph > svg {z-index:3;overflow:visible;width:100%;height:100%}
.link {fill: none;stroke: #333;stroke-width:.1em}
rect {fill: #ccc;width:.3em;height:.3em;ry:.3em}
text {font: sans-serif;fill: #aaa;pointer-events: none}
div.day {
     position:absolute;
     font-size:.88em;
     white-space:nowrap;
}

.chatLog {padding:.8em}
