a[rel=prev] { float:left }
a[rel=next] { float:right }

a[rel=next], a[rel=prev]{
    text-decoration: none;
    background-color: #bbb;
               color: #fff;
    padding: .2em;
    border: .1em dotted #eee;
    white-space: nowrap;
}

a[rel=next]:hover, a[rel=prev]:hover{
    background-color: #ff0;
}
