a[rel=prev] { float:left;  border-width: 0 .1em .1em 0; }
a[rel=next] { float:right; border-width: 0 0 .1em .1em; }

a[rel=next], a[rel=prev]{
    text-decoration: none;
    background-color: #bbb;
               color: #fff;
    padding: .2em;
    border-style: dotted;
    border-color: #ddd;
    white-space: nowrap;
}

a[rel=next]:hover, a[rel=prev]:hover{
    background-color: #ff0;
}
