.posts a { text-decoration: none }
.posts table {
    margin: 0;
    border-spacing: .1em;
    background-color: #eee;
}
.posts table td {
    background-color: #fff;
    color: #000;
}
.posts td.uri {
    border-radius: .3em 0 0 0;
    background-color: #000;
}
.posts td.uri a {
    color: #fff;
    padding-left: 10%;
}
.posts td.key {
    text-align:right;
    background-color: #222;
}
.posts td.key > a {
    font-weight: bold;
    color: #fff;
}

.posts tr[property="http://purl.org/dc/terms/title"] {display:none}
