.r {margin-bottom:.2em}
.label {
border-radius:.33em;
font-weight:bold;
color: black;
background-color:#fafafa;
border-radius:.4em 0 .4em 0;
}
.uri {
font-size:1.08em;
border-radius:0 .29em .29em .29em;
color:#04f;
background-color:#fff;
}
a {text-decoration:none;}
