body{ background-color:#eee;}
a {text-decoration:none;}

.resource {
margin:.2em;
border-style:dashed;
border-color:#aaa;
border-width:0.18em;
}
.label {
font-size:1.3em;
font-weight:bold;
color: #58fff5;
background-color:#000;
border-radius:.4em 0 .4em 0;
}
.abbr{
    font-size:1.14em;
    background-color:#000;
    color:#f8f8f8;
}
.frag {
    font-size:1.3em;
    font-weight:bold;
    background-color:#00a7d1;
    color:#fff;
}