.grep {background-color:yellow;color:black}
.w {font-size:1.3em}
div.form {position:fixed;z-index:8;top:.18em;left:.5em;}
input {font-size:2em}
input:hover {border-color:#0f0;border-style:dotted}
.up {font-size:2em}
a {font-size:1.1em;color:#000;background-color:#fff;text-decoration:none}