div.formtop {position:fixed;z-index:8;top:.18em;left:.5em;}
input {font-size:2em}
input:hover {border-color:#0f0;border-style:dotted}
.down { font-size: 2em;
      font-weight: bold;
      padding:  0 1.4em 0 1.4em;
      background-color:#333;
      color: #fff;
      }
.space {display:block; width: 100%; height: 3em}