body {
    margin:0;
    cursor: pointer;
    background-color:#222;
    color:white;
    font-family:sans-serif}
.bar {
    position: absolute;
    height: .8em;
    background-color: yellow;
    opacity: 0.618;
    position:absolute;
    font-size:.7em;}
.s {border-style:dotted;
    border-width:0 .1em 0 0;
    width:1px;height:100%;
    position:absolute;
    top:0;
    z-index:-3}
.u {position:absolute;
    color:Cyan;
    z-index:2}
#t {
    z-index:-4;
    background-color:purple;
    height:100%;
    width:42px;
    position:absolute;
    top:0;}
.loc .l {
    background-color:white;
    color:black;}
.loc {
    background-color:black;
    color:white;
    position:absolute;
    width: 40em;
    z-index:3}
#clock {
    font-family:monospace;
    background-color:white;
    color:black;
    font-size:2.21em;
    position:fixed;
    left:0;
    bottom:0;
    z-index:3}
.band {
    color:#24f;
    padding:0.34em .3em .18em .3em;
    text-decoration:none;
    margin:.09em}
#bands {
    position:fixed;
    top:0;left:0;
    z-index:5}
#scales {
    position:fixed;
    top:0;
    right:10em;
    z-index:5}
.scale {
    padding:0.2em .3em .18em .3em;
    font-size:.8em;
    margin:0}
.scale:hover {
    background-color:white;
    color:#d2d2d2}
