table.tab {background-color: #fff;color:#000;border-spacing:0; font-family: sans-serif;float:left}
table.tab a {text-decoration: none}
/* header */
table.tab th {vertical-align: bottom; font-weight: normal; padding: 0 .2em 0 .3em}
table.tab th a {color:#000;font-size:1.5em}

/* rows */
tr.dark,  tr.dark a {color:#fff}
tr.light, tr.light a {color:#000}

/* columns */
table.tab td {vertical-align: bottom;border-width: 0 0 .1em 0;border-style: solid; border-color: #fff}
table.tab td[property='uri'] {text-align:right; font-weight: bold}
table.tab td[property='http://purl.org/dc/terms/date'] {white-space: nowrap}
table.tab td[property='http://www.w3.org/1999/02/22-rdf-syntax-ns#type'] a {font-size: 1.5em}
table.tab td a.new {font-weight:bold;font-size:1.5em;color: #0f0;background-color: #fff;border-radius:.2em;padding: 0 .13em 0 .13em}
