table.tab {border-spacing:0; font-family: sans-serif}
table.tab a {text-decoration: none}
/* header */
table.tab th {text-align: left; font-weight: normal}
table.tab th.this a {background-color: #00f;color: #fff;padding:.2em}
table.tab th.that a {background-color: #fff; color:#000}
/* rows */
table.tab tr.dark, table.tab tr.dark a {color:#fff}
table.tab tr.light, table.tab tr.light a {color:#000}

/* columns */
table.tab td {vertical-align: bottom}
table.tab td[property='uri'] {text-align:right; font-weight: bold}
table.tab td[property="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"] a {color:#000;background-color:#fff;font-weight:bold;}
table.tab td[property="http://www.w3.org/1999/02/22-rdf-syntax-ns#type"] {background-color:#fff}
table.tab td[property='http://www.w3.org/ns/posix/stat#size'] {text-align:right;font-weight:bold;color:#fff}
table.tab td[property='http://purl.org/dc/terms/date'] {white-space: nowrap}
