
.text { float: right }

.text a {
    color: #fff;
    text-decoration: none;
}

.text pre > a {
    padding: .1em;
    color: #000;
    background-color:#0f0;
}

.text pre {
    padding:.4em;
    margin:0 .1em .1em .1em;
    color:#fff;
    background-color:#000;
    border-style:dotted;
    border-width:.13em;
    white-space: pre-wrap;
}
