pre {margin:0}

.text {
    float: right;
    margin: .3em;
}

.text a {
    color: #fff;
    text-decoration: none;
    border-radius:0;
}

.text pre > a {
    padding: .1em;
    color: #000;
    background-color:#0f0;
}

.text pre {
    padding:.4em;
    color:#fff;
    background-color:#000;
    border-style:dotted;
    border-width:.13em;
    white-space: pre-wrap;
    max-width:92ex;
}
