
.text { float: right }

.text > a {color: #fff}

pre > a { text-decoration: none;
            padding: .1em;
            color: #000;
	    background-color:#0f0;
            }

pre { padding:.5em;
      margin:0 .1em .1em .1em;
      color:#fff;
      background-color:#000;
      border-style:dotted;
      border-width:.13em;
      white-space: pre-wrap;
      }
