body {
    background-color:#000;
}

a {
    font-family:sans-serif;    
    text-decoration:none;
}

.group .to {
    font-weight: bold;
    border: .1em dashed;
    padding: 0 .1em 0 .1em;
}

.group .to:hover {
    background-color:#fff;
}

.posts {
    margin-bottom: .8em;
    padding: .1em 0 .2em 0;
    max-width: 110ex;
}

.posts .post {clear: both}

.posts .g {
    color:#fff;
    background-color:#000;
    padding: 0 .2em 0 .2em;
}

.posts .g:first-child {
               color:#000;
    background-color:#fff;
}

.count {
    font-weight: bold;
    padding: .2em;
}

.count, .sender {
    color: #000;
    background-color:#f3f3f3;
    float: right;
    margin-left: .2em; 
}

.count:hover {
    background-color:#fff;
}

.thread {
    background-color:#000;
    color:#fff;
}

.thread:hover, .thread:hover:visited {background-color:#f04}

a[rel=next],a[rel=prev] {color: #f8f8f8}

.thread:visited {
    background-color:#fff;
    color:#000;
}
