body {
    background-color:#000;
    margin:0;
}

a {
    font-family:sans-serif;    
    text-decoration:none;
}

.group, .posts {float: right}

.group {min-width: 10em}

.group .to {
    font-weight: bold;
    white-space: nowrap;
    border-width: .1em .1em .1em 0;
    border-style: dashed;
    padding: 0 .1em 0 0;
}

.group .to:hover {
    background-color:#fff;
}

.posts {
    text-align:right;
    margin-bottom: .5em;
    padding-bottom: .4em
}

.posts .g {
    float:left;color:#fff;
    background-color:#000;
    margin-right: .14em;
}

.posts .g:first-child {
               color:#000;
    background-color:#fff;
}

.posts .count {
    font-weight: bold;
    padding: .2em;
    color: #000;
}

.posts .count:hover {
    background-color:#fff;
}

.thread {
    background-color:#000;
    color:#fff;
}

.thread:hover, .thread:hover:visited {background-color:#f04}

.thread:visited {
    background-color:#fff;
    color:#000;
}

.abbr {display: none}

.sender {
    color:#000;
}
