body {
    background-color:#000;
}

a {
    font-family:sans-serif;    
    text-decoration:none;
}

table {border-spacing: 0;float: right}

tr.space {height: .5em}

td.group {
    vertical-align:top;
}

td.group .to {
    font-weight: bold;
    white-space: nowrap;
    border-width: 0.1em 0 0 0;
    border-style: dashed;
}

td.posts {
    text-align:right;
}

td.posts .g {
    float:left;color:#000;
    background-color:#fff;
}

td.posts .count {
    font-weight: bold;
    padding: .2em;
    color: #000;
}

td.posts .count:hover {
    background-color:#fff;
}

.thread {
    background-color:#000;
    color:#fff;
}

.thread:hover, .thread:hover:visited {background-color:#f04}

.thread:visited {
    background-color:#fff;
    color:#000;
}

.abbr {display: none}

.sender {
    color:#000;
}
