body { background-color:#000 }
.timegraph  {width: 26em; height: 64em; position: fixed; top: 0; left: 0}
.timegraph > svg { position: absolute; width: 100%; height: 100%; top: 0; left: 0; z-index: 1 }
.timegraph > div.date { position: absolute; background-color: #fff; font-size: .8em; color: #777; z-index: 0; border-width:.1em 0 0 0; border-style: dotted; border-color: #ccc}
.timegraph > div { position: absolute; z-index: 2 }
.timegraph a.link { margin:0 }
.timegraph a.label { font-size:.9em; background-color: #000; color: #0f0; border-width:.1em; border-color: #0f3; border-style: dotted; white-space: nowrap }
.timegraph a.label:hover { color: #000; background-color: #fff; }
line.arc{stroke-width: .1em}
