.title:hover {
    background-color: #0f0;
    color: #000;
}
.title {
    background-color: white;
    color: black;
    border-style: dashed;
    border-color: #aaa;
    border-width: 0 0 .1em .6em;
}

.scheme { display: none; }
.abbr,.frag {display: inline}