.branch a {border-radius:.42em}
.branch{
    display:inline-block;
    vertical-align:top;
    border-radius:.618em;
    margin:.2em; 
    padding:.3em
}
.treeO {border-radius:.42em;
        background-color: black;
	color: white}
.treeO a {color: #ccc}