body {
    font-family: sans-serif;
    color:#ccc;
    background-color:#282828;
}

a {
    text-decoration:none;
    font-weight: bold;
    color:#000;
    background-color:#0f0;
}

.abbr, .invisible, .scheme, s {display: none}

td.val {background-color:#000;color:#fff}

img {max-width:100%}

span.nick {
    min-width:15ex;
    position:relative;
    text-align:right;
    display:inline-block;
    background-color:#000;
}

span.nick span {
    color: #fff;
    background-color: #000;
}

span.nick img {
    position:absolute;
    top:0;z-index:-1}

.tw {
    color:#fff;
    background-color:#000;
}

.tw b {color:#fff}

.blogpost {
    background-color:#fff;
    color:#000;
    padding: 0 0 0 .4em;
    border-radius:.5em;
}
