@font-face {font-family: "icons";src: url('/.conf/font.woff') format('woff');}
.id:before { content:"\f0c2"; font-family: icons; }
.barcode:before { content:"\f02a"; font-family: icons; }
.type:before { content:"\f02b"; font-family: icons; }
.bin:before { content:"\f187"; font-family: icons; }
.chain:before { content:"\f0c1"; font-family: icons; }
.width:before { content:"\f07e"; font-family: icons; }
.height:before { content:"\f07d"; font-family: icons; }
.link:before { content:"\f08e"; font-family: icons; }
.node:before { content:"\f1e0"; font-family: icons; }
.clock:before { content:"\f017"; font-family: icons; }
.find:before { content:"\f002"; font-family: icons; }
.comment:before { content:"\f0e5"; font-family: icons; }
.comments:before { content:"\f086"; font-family: icons; }
.date:before { content:"\f073"; font-family: icons; }
.dir:before { content:"\f07c"; font-family: icons; }
.file:before { content:"\f15b"; font-family: icons; }
.list:before { content:"\f0cb"; font-family: icons; }
.feed:before { content:"\f09e"; font-family: icons; }
.textfile:before { content:"\f0f6"; font-family: icons; }
.textfileInverse:before { content:"\f15c"; font-family: icons; }
.markup:before { content:"\f1c9"; font-family: icons; }
.html:before { content:"\f13b"; font-family: icons; }
.cog:before { content:"\f013"; font-family: icons; }
.check:before { content:"\f00c"; font-family: icons; }
.quote:before { content:"\f10d"; font-family: icons; }
.ban:before { content:"\f05e"; font-family: icons; }
.archive:before { content:"\f019"; font-family: icons; }
.mailer:before { content:"\f2ba"; font-family: icons; }
.graph:before { content:"\f1e0"; font-family: icons; }
.img:before { content:"\f03e"; font-family: icons; }
.video:before { content:"\f04b"; font-family: icons; }
.code:before { content:"\f126"; font-family: icons; }
.bird:before { content:"\f099"; font-family: icons; }
.tree:before { content:"\f0e8"; font-family: icons; }
.location:before { content:"\f041"; font-family: icons; }
.pencil:before { content:"\f040"; font-family: icons; }
.rel:before { content:"\f0a5"; font-family: icons; }
.reply:before { content:"\f112"; font-family: icons; }
.size:before { content:"\f161"; font-family: icons; }
.thread:before { content:"\f03c"; font-family: icons; }
.word:before { content:"\f1c2"; font-family: icons; }
.envelope:before { content:"\f0e0"; font-family: icons; }
.newspaper:before { content:"\f1ea"; font-family: icons; }
.openenvelope:before { content:"\f2b6"; font-family: icons; }
.time:before { content:"\f017"; font-family: icons; }
.user:before { content:"\f007"; font-family: icons;}
.userB:before { content:"\f2c0"; font-family: icons;}
