a      {text-decoration: none; font-weight: bold; background-color: #fff; color:#000}
body   {font-family: sans-serif; margin: 0}
img    {max-width: 100%}
.thumb {max-width: 28em}
pre    {min-width: 40ex; max-width: 255ex; overflow: hidden; margin: 0; white-space: pre-wrap}
.kv    {display: inline-block}
.k     {vertical-align: top}
.k > a {display:block; font-weight: normal}
.im {display: inline-block; border-radius: .42em; margin: .05em; padding-left:.2em}
:target, :target * {background-color: #0f0 !important; color: #fff !important}
