
@font-face {font-family: "icons";src: url('/.conf/font.woff') format('woff');}
body {background-color:#000;color:#fff;margin:0;font-family: sans-serif}
table, pre, form, input {display: inline-block;margin:0}
.nav {text-align:center}
.nav input {background-color:#111;color:#fff;border-width:0;font-size:1.1em;max-width:16ex}
.nav a.find {font-weight: normal;color:#ccc}
.nav a.clock, .nav span.sep {color:#181818;font-weight: normal}
img {max-width: 100%}
th a:before {font-size:1.6em;font-weight: normal}
th.selected, th.selected a {background-color:#fff;color:#000}
tr.focus td {background-color:#222}
tr.focus a {background-color:#222; color: #fff; border-width: 0}
tr.focus a.title {font-size:1.27em}
table,th,td,a,div {border-radius:.13em}
table, td, img, a, pre {vertical-align:top}
td[property="uri"] > div, td[property="uri"] > p {margin:auto}
td[property="http://rdfs.org/sioc/ns#has_creator"], td[property="http://rdfs.org/sioc/ns#addressed_to"] {max-width:16em}
table.links {border: .1em solid #333;border-radius:.6em}
table.links td.host a {float: right; color:#eee; font-weight: normal; font-size:.9em}
table.links td.path a {background-color:#222;color:#fff;border: .08em solid #444;border-radius:.3em;font-weight: normal;padding:.08em;display:inline-block;margin:.05em}
table.dir {width:100%;display:table}
table.dir td {position: relative;height:12em;vertical-align:bottom;background-color:#000;text-align:center}
table.dir td .bar {width: 100%; margin:auto; color:#000;font-weight: bold}
pre {white-space: pre-wrap; font-family: monospace; max-width: 144ex}
span.notes {color:#aaa;font-size:.8em}
span.children a {font-weight: normal;font-size:.9em}
a {text-decoration:none; font-weight: bold; color:#fff}
#prev {left:0}
#next {right:0}
#prev,#next {font-size:2.1em;position:fixed;top:0}
a.date {white-space: nowrap}
a.thumb img {height:256px}
a[rel="down"] {font-size:2.8em;margin:.3em}
:target {background-color:#fff !important; color:#000 !important;}
:target a {background-color:#fff;color:#000}
a.id:before { content:"\f0c2"; font-family: icons; }
a.type:before { content:"\f02b"; font-family: icons; }
a.chain:before { content:"\f0c1"; font-family: icons; }
a.width:before { content:"\f07e"; font-family: icons; }
a.height:before { content:"\f07d"; font-family: icons; }
a.link:before { content:"\f08e"; font-family: icons; }
a.node:before { content:"\f1e0"; font-family: icons; }
a.clock:before { content:"\f017"; font-family: icons; }
a.find:before { content:"\f002"; font-family: icons; }
a.comment:before { content:"\f0e5"; font-family: icons; }
a.comments:before { content:"\f086"; font-family: icons; }
a.date:before { content:"\f073"; font-family: icons; }
a.dir:before { content:"\f07c"; font-family: icons; }
a.file:before { content:"\f15b"; font-family: icons; }
a.textfile:before { content:"\f0f6"; font-family: icons; }
a.html:before { content:"\f13b"; font-family: icons; }
a.archive:before { content:"\f019"; font-family: icons; }
a.mailer:before { content:"\f2ba"; font-family: icons; }
a.graph:before { content:"\f1e0"; font-family: icons; }
a.img:before { content:"\f03e"; font-family: icons; }
a.code:before { content:"\f126"; font-family: icons; }
a.tree:before { content:"\f0e8"; font-family: icons; }
a.location:before { content:"\f041"; font-family: icons; }
a.pencil:before { content:"\f040"; font-family: icons; }
a.rel:before { content:"\f0a5"; font-family: icons; }
a.reply:before { content:"\f122"; font-family: icons; }
a.size:before { content:"\f161"; font-family: icons; }
a.thread:before { content:"\f03c"; font-family: icons; }
a.word:before { content:"\f1c2"; font-family: icons; }
a.envelope:before { content:"\f0e0"; font-family: icons; }
a.newspaper:before { content:"\f1ea"; font-family: icons; }
a.openenvelope:before { content:"\f2b6"; font-family: icons; }
a.time:before { content:"\f017"; font-family: icons; }
a.user:before { content:"\f007"; font-family: icons;}
a.userB:before { content:"\f2c0"; font-family: icons;}
