.Post div,
.Post,
.comment,
.comment-content,
.entry,
.entry-content,
.main-tweet,
.result,
.row,
.story,
.stream-item,
.tweet,
div.rc {
    background-color: #000 !important;
    color: #fff;
    min-width: 20em;
    max-width: 50em;
    border-radius: .2em;
    display: inline-block !important;
    margin: .2em;
    border-width: 0 !important
}
html,
body,
#page,
#main,
.page-block-container,
.ThreadedConversation,
.ProfileTemplate {
    background-color: #224 !important;
    color: #fff !important;
    font-family: sans-serif
}
div,
form,
p,
table {
    display: inline-block;
    margin: 0
}
a {
    text-decoration: none;
    color: #ccf;
    font-weight: bold
}
p,
span {
    background-color: #000;
    color: #fff
}
.AdaptiveMedia-singlePhoto {
    padding-top: 0 !important
}
ol {
    list-style-type: none
}
.ProfileCanopy-headerBg, .ProfileCanopy-headerBg img {position: relative; top:0; bottom: 0}
img.Emoji {width: 72px !important; height: 72px !important}
#container {
    width: 100%
}
#appbar,
#brand_bar,
#breaking,
#create,
#enable-comments-button,
#footcnt,
#footer,
#footer-nav,
#geo-disabled-dropdown,
#geo-enabled-dropdown,
#guide,
#header,
#info,
#masthead-container,
#newsletter-signup-1,
#qrform,
#sidepanel,
#showthreadRankedThreads,
#searchform,
#title,
#top_nav,
.breadcrumbs,
.BlueBar,
.Footer,
.GalleryNav,
.Post__origin,
.Post__scoreWrap,
.Post__sharingBox,
.ProfileCanopy-navBar,
.ProfileHeading,
.ProfileNav,
.ProfileSidebar,
.ProfileWarningTimeline,
.SubscriptionBar,
.ad-box,
.ad-container,
.article-buckets-list,
.article-header,
.article-meta-main,
.article-section--story-group,
.article-share,
.clearleft,
.column-header-metadata,
.comment-header-date,
.debuginfo,
.description,
.dismiss-module,
.dropdown,
.expand,
.footer,
.global-audio-components,
.hidden,
.inline-newsletter,
.js-stickyFooter,
.lightdrop,
.masthead,
.meta-and-actions,
.metabar,
.modal-container,
.newsletter-signup,
.panestack-title,
.rank,
.recirc-inset,
.region-top-menu,
.reportform,
.score,
.sfbgx,
.side,
.sidebar,
.slideUp,
.stats,
.stream-fail-container,
.stream-footer,
.stream-item-footer,
.tertiary,
.topbar,
.u-hiddenVisually,
.userattrs,
.visuallyhidden,
[data-author="AutoModerator"],
a.numchildren,
a.username,
aside,
button,
div.arrow,
div.footer-parent,
div[role="banner"],
footer,
header,
nav,
section.infobar,
span.flair,
span.score,
span.score-hidden,
time,
ul.buttons,
.last-section {
    display: none !important
}
